body {
    margin: 0;
    padding: 0;
    background-color: white; }
  
  .header {
    width: 1920px;
    height: 900px;
    overflow: hidden;
    margin: 0 auto;
    background: 0 -170px url(../img/m-h-day.jpg) no-repeat;
    background-size: cover;
    border-radius: 0 0 380px 0; }
  
  .landing-logo, .footer_logo {
    display: flex;
    margin: 0; }
    .landing-logo p, .footer_logo p {
      font-family: "Hind", sans-serif;
      color: #21232e;
      font-size: 28px;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 0;
      line-height: 1.2; }
      .landing-logo p span, .footer_logo p span {
        display: block;
        font-size: 12px;
        text-align: center; }
    .landing-logo img, .footer_logo img {
      color: white;
      margin-right: 22px;
      margin-top: 25px;
      width: 60px;
      height: 60px; }
  
  .header-wrap {
    margin-left: 192px; }
  
  .header_heading {
    font-family: "Hind", sans-serif;
    font-size: 88px;
    margin-top: 104px;
    margin-bottom: 64px;
    color: #21232e;
    line-height: 1;
    width: 602px;
    font-weight: 600;
    position: relative;
    z-index: 1; }
    .header_heading:after {
      content: '';
      background-color: #14a0c7;
      width: 370px;
      height: 30px;
      top: 137px;
      position: absolute;
      z-index: -1; }
  
  .header_text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #000000;
    white-space: pre-line;
    line-height: 1.4;
    margin: 0; }
  
  .header_button {
    display: inline-block;
    width: 176px;
    height: 60px;
    background-color: #699900;
    border: 0 solid transparent;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-top: 85px;
    margin-bottom: 100px; }
    .header_button:hover {
      background-color: #aeff00;
      color: #21232e;
      font-weight: 600; }
  
  .section {
    width: 80%;
    margin: 0 auto; }
  
  .section_text {
    width: 80%;
    height: 160px;
    font-family: "Hind", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #21232e;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: -50px;
    position: relative;
    z-index: 1; }
    .section_text:after {
      content: '';
      background-color: #14a0c7;
      width: 225px;
      height: 20px;
      top: 85px;
      right: 212px;
      position: absolute;
      z-index: -1; }
  
  .section_card_wrap {
    display: flex;
    flex-direction: row; }
  
  .section_card {
    background-color: #21232e;
    margin: 12px;
    border-radius: 10px;
    text-align: center; }
  
  .section_card_img {
    width: 450px;
    height: 298px;
    padding: 22px;
    border-radius: 30px; }
  
  .section_card_heading {
    color: #fff;
    font-family: "Hind", sans-serif;
    font-size: 30px;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    position: relative;
    z-index: 1; }
  
  .section_card_underline {
    display: block;
    background-color: #14a0c7;
    height: 15px;
    margin-top: -25px; }
  
  .section_card_text {
    color: #c0c3ce;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    padding: 30px 30px 35px 30px; }
  
  .section_banner {
    max-width: 1200px;
    height: 180px;
    background: linear-gradient(85deg, #65950f, #305ece);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: 80px; }
  
  .section_banner_heading {
    font-size: 38px;
    color: #21232e;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    margin: 0 0 0 130px;
    padding-top: 45px;
    position: relative;
    z-index: 1; }
    .section_banner_heading:after {
      content: '';
      background-color: #14a0c7;
      width: 80px;
      height: 19px;
      top: 75px;
      left: 158px;
      position: absolute;
      z-index: -1; }
  
  .section_banner_text {
    font-size: 20px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 0 0 130px; }
  
  .section_banner_button {
    display: inline-block;
    width: 176px;
    height: 60px;
    background-color: #699900;
    border: 0 solid transparent;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 65px;
    right: 130px; }
    .section_banner_button:hover {
      background-color: #aeff00;
      color: #21232e;
      font-weight: 600; }
  
  .footer {
    width: 1920px;
    margin: 0 auto;
    height: 302px;
    background-color: #21232e; }
  
  .footer-wrap {
    padding-top: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  
  .footer_text {
    display: block;
    width: 367px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #c0c3ce;
    margin: 0; }
  
  .footer-cr {
    font-family: "Hind", sans-serif;
    font-size: 20px;
    color: #c0c3ce;
    margin: 0; }
  
  .footer_logo p {
    color: #c0c3ce; }
    .footer_logo p span {
      font-family: "Source Sans Pro", sans-serif; }