$background-image: url(../img/m-h-day.jpg);
$theme: white;
$text-logo: #21232e;
$underscore-color: #14a0c7;
$button-color: #699900;
$heading-color: #21232e;
$text-color: #c0c3ce;
$bg-items: #21232e;
$bg-footer: #21232e;
$banner-gradient: linear-gradient(85deg, #65950f, #305ece);
$heading-font: 'Hind', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;