$background-image: url(../img/m-h-night.jpg);
$theme: #21232e;
$text-logo: #fff;
$underscore-color: #ff4e33;
$button-color: #e3ac00;
$heading-color: #fff;
$text-color: #fff;
$bg-items: #3b3f50;
$bg-footer: #3b3f50;
$banner-gradient: linear-gradient(85deg, #e0a703, #942f52);
$heading-font: 'Hind', sans-serif;
$text-font: 'Fresca', sans-serif;